@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: hsl(231 69% 60%);
  --color-secondary: hsl(0 94% 66%);
  --font-display: "Rubik", serif;
}
