@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0px;
  background-color: rgb(245, 221, 245);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
}

#question,
#result {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 5px 3px 5px gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

#question h1,
#result h1 {
  text-align: center;
}

label {
  font-size: large;
}

button {
  height: 3rem;
  border: none;
  background-color: skyblue;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

button:hover {
  background-color: rgb(35, 181, 239);
}
