.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: black;
  color: white;
}

.container a {
  color: white;
  text-decoration: none;
}

.userInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
