  /* start from here */

#todoApp{
 margin-top: 15%;
 margin-left: 30%;
 border: 2px solid black;
 display: inline-block;
 padding: 20px;
 border-radius: 5px;
}

#signin, #todoSection{
  display: none;
} 

label,input{
  display: block;
}

#todos input, #todo{
  display: inline;
}

#logout{
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
}

#logout button{
  padding:5px;
}

input, button{
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
}

